/*****************/
/* MEDIA QUERIES */
/*****************/

@media only screen and (max-width: 400px)
{
    main section
    {
        margin: 0 auto;
        text-align: center;
    }
}

@media only screen and (min-width: 401px) and (max-width: 600px)
{
    main section
    {
        margin: 0 auto;
        text-align: center;
    }
}

@media only screen and (min-width: 600px)
{
    body 
    {
        text-align: center;
    }
    main section
    {
        text-align: center;
        margin: 0 auto;
    }
    button, input
    {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 950px)
{
    body 
    {
        text-align: center;
    }
    main section
    {
        text-align: center;
        width: 50%;
        margin: 0 auto;
    }
    button, input
    {
        font-size: 1.2em;
    }
}

/*****************/
/*  CSS GENERAL  */
/*****************/

html
{
    font-family: 'Roboto', sans-serif;
}

h1
{
    text-align: center;
    margin-top: 50px;
}

main section
{
    background-color:rgb(225, 225, 225);
}

#actionJOUEUR
{
    color: green;
}

#actionIA
{
    color: red;
}

#ZoneVictoire
{
    font-weight: 700;
    font-variant: small-caps;
    font-size: 2em;
}

footer
{
    text-align: center;
}
#BoutonChangementVersion
{
    font-size: 12px;
}